<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Usuários</title>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      font-weight: 520;
    }

    body {
      height: 100vh;
      width: 100%;
      background: linear-gradient(
        85deg,
        rgb(102, 120, 134) 0%,
        rgb(28, 50, 90) 100%
      );
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .content {
      background-color: #fff;
      padding: 30px 20px;
      border-radius: 5px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 400px;
      margin: auto;
    }

    header {
      width: 100%;
      display: flex;
      justify-content: center;
      color: rgb(32, 19, 126);
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    }

    .title {
      color: rgb(49, 108, 216);
    }

    p {
      padding-left: 15px;
    }
  </style>
</head>
